<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h1 class="heading font-black text-4xl text-center mt-20">Favourite Books</h1>

    <div class="booklist container mx-auto max-w-xl mt-16">
        {{range .data}}
        <a href="/books/{{.ID}}">
            <div class="book-card rounded bg-gray-50 p-5 mt-3">
                <h2 class="font-bold text-xl text-gray-800">{{.Title}}</h2>
                <h3 class="text-gray-800">{{.Author}}</h3>
                <div class="flex items-center"><i class="fas fa-star mr-1 text-yellow-600"></i><span class="mt-px">{{.Rating}}</span></div>
            </div>
        </a>
        {{end}}
    </div>

    <!-- <h1>{{ .Title }}</h1>

    {{range .data}}
        {{.}} <br><br>

        Title: {{.Title}}<br>
        Author: {{.Author}}<br>
        Rating: {{.Rating}}<br>
        
        <br><br>
    {{end}} -->

    <!-- {{ range $key, $value := .data }}
        <li><strong>{{ $key }}</strong>: {{ $value }}</li>
    {{ end }} -->

    <!-- <h1>All Raw:</h1>
    <p>
        {{.}}
    </p> -->


</body>
</html>